.RegisterBox {
  /* background-color: #61dafb; */
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 50px;
  padding-top: 100px;
}

.RegisterBox h2 {
  padding-left: 100px;
  text-align: left;
  font-size: 40px;
  margin: 0;
}

@media (max-width: 1100px) {
  .RegisterBox {
    width: 73%;
  }
}
