.RegisterPage {
  /* background-color: #434644; */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;

}
